.home
{
    text-align: center;
    margin-top: 100px;
}
.item{
    background-color: white;
    width: 70%;
    border: 1px solid white;
}
.item1{
    background-color: gray;
}
.item3{
    color: aquamarine;
}
button
{
    background-color: white;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
body
{
    background: lightgray;
}